@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rajdhani);
  
  --shadow-glow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rajdhani), sans-serif;
}

@keyframes float {
  0% { transform: translateY(0px) scale(1); }
  50% { transform: translateY(-15px) scale(1.05); }
  100% { transform: translateY(0px) scale(1); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.delay-0 { animation-delay: 0s; }
.delay-1000 { animation-delay: 1s; }
.delay-2000 { animation-delay: 2s; }
.delay-3000 { animation-delay: 3s; }
.delay-4000 { animation-delay: 4s; }
.delay-5000 { animation-delay: 5s; }
